/* tab  device media  end*/
@media screen and (max-width: 767px) {
  .header {
    height: 85vh;
  }
  .pry-btn {
    padding: 5px 17px;
  }
  .head-h {
    font-size: 25px;
  }
  .head-p {
    font-size: 9px;
  }
  .icon {
    display: block;
  }
  .navbar {
    margin: 0;
    padding: 8px 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .navbar ul {
    position: absolute;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 49px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    gap: 0;
    overflow: hidden;
  }
  .navbar ul li {
    margin: 15px 0px;
  }

  #ul {
    transition: 0.5s ease-in-out;
  }
}
/* tab  device media  end*/

/* mobile device media  start*/
@media screen and (max-width: 430px) {
  .header {
    height: 70vh;
  }
  .logo {
    font-size: 20px;
  }
  .pry-btn {
    font-size: 7px;
  }
  .head-h {
    font-size: 22px;
  }
  .head-p {
    font-size: 10px;
    flex-wrap: wrap;
  }
  .navbar {
    padding: 8px 15px;
  }
  .navbar ul {
    top: 38px;
  }
  .about-img {
    width: 100%;
    height: auto;
  }
  .box-container {
    margin-top: 0px;
  }
}

/* mobile  device media  end*/
